{% extends 'home/base.html' %}

   {% block title %}
     Atomated Attendance System
   {% endblock %}

   {% block head %}
     <script type="text/javascript">

     </script>
   {% endblock %}


{% block body %}

<div class="container">
    <div class="row profile">
		<div class="col-md-3">
			<div class="profile-sidebar">
				<!-- SIDEBAR USERPIC -->
				<div class="profile-userpic">
					<img src="/media/admin.gif" class="img-responsive" alt="">
				</div>
				<!-- END SIDEBAR USERPIC -->
				<!-- SIDEBAR USER TITLE -->
				<div class="profile-usertitle">
					<div class="profile-usertitle-name">
						{{user.firstName}} {{user.lastName}}
					</div>
					<div class="profile-usertitle-job">
						{{user.cityName}}
					</div>
				</div>
				<!-- END SIDEBAR USER TITLE -->
				<!-- SIDEBAR BUTTONS -->
				<div class="profile-userbuttons">
					<button onclick="window.location.href='/admin/logout'" type="button" class="btn btn-danger btn-sm">logout</button>
				</div>
				<!-- END SIDEBAR BUTTONS -->
				<!-- SIDEBAR MENU -->
				<div class="profile-usermenu">
					<ul class="nav">
						<li class="">
							<a href="/admin/domore">
							<i class="glyphicon glyphicon-home"></i>
							 Upload Multiple Images</a>
						</li>
						<li>
							<a href="/admin/dataenter">
							<i class="glyphicon glyphicon-list-alt"></i>
						    Capture And Update Images</a>
						</li>

            <li>
							<a href="/home">
							<i class="glyphicon glyphicon-briefcase"></i>
							Home </a>
						</li>
            <li>
							<a href="/digitalEyeAdmin">
							<i class="glyphicon glyphicon-briefcase"></i>
							Data Base Admin </a>
						</li>
						<li>
							<a href="/admin/help">
							<i class="glyphicon glyphicon-flag"></i>
							Help </a>
						</li>
					</ul>
				</div>
				<!-- END MENU -->
			</div>
		</div>
		<div class="col-md-9">
            <div class="profile-content">
			        {% block content %}
              <div class="bs-calltoaction bs-calltoaction-success">
                 <div class="row">
                    <h1> Welcome to admin part</h1>
                  </div>
               </div>
               <div class="bs-calltoaction bs-calltoaction-info">
                  <div class="row">
                    <ol>
                    <li>Upload Multiple Image</li>
                    <li>Capture Image Using Webcam & Ipcam and Upload</li>
                    <li>Add Student and Teacher in Data base admin </li>
                  </ol>
                   </div>
                </div>




              {% endblock %}
            </div>
		</div>
	</div>
</div>

<div id="footer">
  <div class="container text-center">
    <p class="text-muted credit" style="color:#000">
     Powered by &copy; <a href="http://haios.org" target="_blank"> HAIOS.org </a>
    </p>
  </div>
</div>
{% endblock %}
