{% extends 'home/main.html' %}


{% block content %}



{% include "home/classForm.html" with submitButtonId="startAttendance" formId="attendanceForm" submitButtonText="Start Attendance" ipwebcamInputName="ipwebcamUrl" ipwebcamInputId="ipwebcamUrl" ipwebcamSubmitButtonId="ipwebcamcapture" ipwebcamSubmitButtonText="Start Attendance Using IP WebCam" ipButton="True" %}

<script type="text/javascript">
$body = $("body");

$(document).on({
    ajaxStart: function() { $body.addClass("loading");    },
     ajaxStop: function() { $body.removeClass("loading"); }
});

function ajaxSend(fd,url,rurl){

  $.ajax({
  url:url,
  type: "POST",
  data: fd,
  success:function(data){
    window.open(rurl,'_self')
  },
  error: function (xhr, ajaxOptions, thrownError) {
    alert("errrr")
     alert(xhr.status);
     alert(thrownError);
     alert(ajaxOptions);
   },
  processData: false,  // tell jQuery not to process the data
  contentType: false   // tell jQuery not to set contentType
  });

}


function startCapturing(){

     var fd = new FormData(document.querySelector("#attendanceForm"));
     fd.append("author", "haikent");
     ajaxSend(fd,"/startcapturing/",'/webcamcapture/')
}




function ipcamstartCapturing(){
     var fd = new FormData(document.querySelector("#attendanceForm"));
     var url=$("#ipwebcamUrl").val()
     fd.append("ipwebcamurl",url);
     ajaxSend(fd,"/startcapturing/",'/ipwebcamcapture/')
}


 $("#startAttendance").click(function(){
                startCapturing();
             });

  $("#ipwebcamcapture").click(function(){
      ipcamstartCapturing();
  });


 </script>

{% endblock %}
