{% extends 'home/main.html' %}


{% block content %}



{% include "home/classForm.html" with submitButtonId="startAttendance" formId="attendanceForm" submitButtonText="Start Attendance" %}

<script type="text/javascript">
$body = $("body");

$(document).on({
    ajaxStart: function() { $body.addClass("loading");    },
     ajaxStop: function() { $body.removeClass("loading"); }
});

function startCapturing(){

     var fd = new FormData(document.querySelector("#attendanceForm"));
     fd.append("author", "haikent");
     $.ajax({
     url: "/startcapturing/",
     type: "POST",
     data: fd,
     success:function(data){
       window.open('/webcamtest/','_self')
     },
     error: function (xhr, ajaxOptions, thrownError) {
       alert("errrr")
        alert(xhr.status);
        alert(thrownError);
        alert(ajaxOptions);
      },
     processData: false,  // tell jQuery not to process the data
     contentType: false   // tell jQuery not to set contentType
     });

}

 $("#startAttendance").click(function(){
                startCapturing();
             });


 </script>

{% endblock %}
